<h2>INTERPOLATIONS</h2>
<p>{{name}} tem idade {{idade}} anos!</p>
<p>{{name}} tem mais de 28 anos? {{resposta}}</p>

<hr>

<h2>PROPERTY BINDING</h2>

<button [disabled]="checketdisabled">BOTÃO</button>

<img [src]="imageSrc" [title]="imgTitle" [alt]="imgAlt">

<hr>

<button (click)="alertaInfo($event)">Evento</button>

<div (mousemove)="mouseMooveTeste($event)" style="background: red; width: 300px; height: 300px; display: flex; align-items: center; justify-content: center;">
    {{position.x}}
    <br>
    {{position.y}}
</div>